*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.container{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
}
.container .numbers{
    background-color: #21242b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px;
    border-radius: 6px;
    border-bottom: 15px solid #18f98f;
    
}
.numbers i{
    color: #18f98f;
    font-size: 30px;
}
.numbers p{
    font-size: 30px;
    color: white;
}
.numbers h5{
    color: white;
    font-size: 30px;
}
